<!--template bootstrap-->

<div *ngIf="tpl=='bootstrap'" [formGroup]="form" class="form-group" [class]="field.classField">
  <label class="control-label">{{field.label}}</label>
  <br>
  <div [class]="field.class" *ngFor="let opt of field.options">
    <label>
      <input class="radio-margin" type="radio" [value]="opt.key" [formControlName]="field.key" [disabled]="opt.disabled" [readonly]="opt.readonly">{{opt.value}}
    </label>
  </div>
  <div class="message-error" *ngIf="!isValid()">({{field.label}} is required)</div>
</div>
<hr>
